/* estilos presentes apenas no dev_stars */
main .contact-form > div {
    margin: 15px 0;
}

main .contact-form > div label {
    display: block;
    margin-bottom: 10px;
}

main .contact-form input,
main .contact-form select,
main .contact-form textarea {
    width: 90%;
    padding: 5px 15px;
    outline-color: #3bd42d;
}

main .contact-form select {
    width: 100%;
}

main .contact-form textarea {
    resize: none;
    padding-top: 15px;
}

main .contact-form > div input[type="radio"],
main .contact-form > div input[type="checkbox"] {
    width: 15px;
}

main .contact-form > div:nth-child(3) span, 
main .contact-form > div:nth-child(4) span {
    color: #25cbd3;
    display: inline;
}

main .contact-form > div input[type="submit"],
main .contact-form > div input[type="reset"] {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1em;
}

main .contact-form > div input[type="submit"] {
    background-color: #3bd42d;
    padding: 10px;
    font-weight: bold;
}

main .contact-form > div input[type="reset"] {
    background-color: #5e49ff;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    main .contact-form {
        width: 60%;
        border: 1px solid #25cbd3;
        border-radius: 10px;
        padding: 25px;
        margin: 25px auto;
    }

    main .contact-form input,
    main .contact-form textarea {
        width: 95%;
    }

    main .contact-form select {
        width: 40%;
    }

    main .contact-form > div input[type="submit"],
    main .contact-form > div input[type="reset"] {
        width: auto;
        padding: 10px;
        outline: none;
    }

    main .contact-form > div input[type="submit"] {
        margin-right: 20px;
    }
}